Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

feat: add circle pause icon for accepted state
  components/TransactionItem.tsx
  components/icons/AcceptedTransaction.tsx
  components/icons/PendingTransaction.tsx
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update @getalby/sdk to v6.0.1
  package.json
  yarn.lock
Due: prettier --write

feat: add support for hold invoice notifications (#344)
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
  components/icons/AcceptedTransaction.tsx
  package.json
  pages/Transaction.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

add support for bootleggers coffee bar (#338)
  lib/merchants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: bump alby sdk version
  package.json
  yarn.lock
Due: prettier --write

chore: bump alby sdk version (#355)
  package.json
  yarn.lock
Due: prettier --write

feat: update to expo v54
  package.json
  yarn.lock
Due: prettier --write

fix: camera issue in send screen
  components/QRCodeScanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: notifications not opening tx page in ios when app is terminated
  context/Notification.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: notifications not opening tx page in ios when app is terminated (#356)
  context/Notification.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: import PermissionStatus from expo-camera
  components/QRCodeScanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update bottom sheet to v5.2.6
  package.json
  yarn.lock
Due: prettier --write

fix: use pressable for balance display
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update expo packages
  package.json
  yarn.lock
Due: prettier --write

chore: remove unnecesary add package
  package.json
  yarn.lock
Due: prettier --write

fix: add button to close alby banner
  components/AlbyBanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: auto fill contact name from ln address
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: layout issue
  app/_layout.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove status bar exclusion
  package.json
Due: prettier --write

fix: use toastify-react-native
  app/_layout.tsx
  components/CreateInvoice.tsx
  components/ToastConfig.tsx
  components/WalletSwitcher.tsx
  lib/errorToast.ts
  package.json
  pages/Transaction.tsx
  pages/receive/Receive.tsx
  pages/send/LNURLPay.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/address-book/NewAddressBookEntry.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  tsconfig.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add support for lud 17
  app.config.js
  lib/link.ts
  lib/lnurl.ts
  pages/receive/Withdraw.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.15.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: animations not working
  components/TransactionItem.tsx
  components/ui/skeleton.tsx
  pages/Transactions.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.15.1
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: transactions skeleton loader spacing
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump alby js sdk version
  package.json
  yarn.lock
Due: prettier --write

fix: compile errors
  lib/notifications.ts
  pages/settings/wallets/ConnectWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: bump alby js sdk version (#368)
  lib/notifications.ts
  package.json
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: use app pubkey when opening transaction notification
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
  lib/link.ts
  lib/notificationsNativeStorage.ts
  lib/state/appStore.ts
  pages/Transaction.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: wallet connection info modal
  components/ConnectionInfoModal.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: linking tests
  hooks/__tests__/useHandleLinking.ts
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: update route to /receive/withdraw
  lib/initiatePaymentFlow.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: use semibold for headings
  components/ConnectionInfoModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: set height to 44px
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add new assets
  app.config.js
  assets/adaptive-icon-bg.png
  assets/adaptive-icon.png
  assets/alby-account.png
  assets/alby-go-logo-dark.png
  assets/alby-go-logo.png
  assets/hub.png
  assets/icon-dark.png
  assets/icon.png
  assets/ios/dark.png
  assets/ios/light.png
  assets/ios/tinted.png
  assets/logo.png
  assets/logomark-dark.png
  assets/logomark.png
  assets/monochromatic.png
  assets/notification.png
  components/AlbyGoLogomark.tsx
  components/QRCode.tsx
  pages/Onboarding.tsx
  pages/Unlock.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: bring btc map home
  app/(app)/bitcoin-map.js
  app/(app)/settings/bitcoin-map.js
  components/Icons.tsx
  components/Screen.tsx
  pages/BitcoinMap.tsx
  pages/Home.tsx
  pages/settings/Settings.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unused properties
  assets/android/MessagingService.kt
  lib/notifications.ts
  lib/notificationsNativeStorage.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unused wallet id param from removeWalletInfo
  lib/notifications.ts
  lib/notificationsNativeStorage.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: update adaptive icon size
  assets/adaptive-icon.png
Due: none
