Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add branding
  assets/alby-go-logo-dark.png
  assets/alby-go-logo.png
  components/AlbyGoLogo.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: make tick larger
  animations/Tick.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: dismiss previous screens
  pages/receive/ReceiveSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: branding (#294)
  animations/Tick.tsx
  assets/alby-go-logo-dark.png
  assets/alby-go-logo.png
  components/AlbyGoLogo.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: foregrounding issues
  context/UserInactivity.tsx
  hooks/useBalance.ts
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: do not show error toasts when in-progress nwc request was backgrounded
  app/_layout.tsx
  context/UserInactivity.tsx
  hooks/useBalance.ts
  hooks/useInfo.ts
  hooks/useTransactions.ts
  lib/createNwcFetcher.ts
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: do not show error toasts when in-progress nwc request was backgrounded (#295)
  app/_layout.tsx
  context/UserInactivity.tsx
  hooks/useBalance.ts
  hooks/useInfo.ts
  hooks/useTransactions.ts
  lib/createNwcFetcher.ts
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: refresh btc rate every 5 minutes
  hooks/useGetFiatAmount.ts
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: refresh btc rate every 5 minutes (#296)
  hooks/useGetFiatAmount.ts
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: manually wait for camera ready before initializing
  components/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: manually wait for camera ready before initializing (#297)
  components/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.11.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: handle decimal commas
  components/DualCurrencyInput.tsx
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: use wallet switcher component
  app/_layout.tsx
  components/Icons.tsx
  components/WalletSwitcher.tsx
  package.json
  pages/receive/Withdraw.tsx
  pages/send/ConfirmPayment.tsx
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: replace pressable with touchableopacity and add border radius
  components/WalletSwitcher.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: use wallet switcher component (#303)
  app/_layout.tsx
  components/Icons.tsx
  components/WalletSwitcher.tsx
  package.json
  pages/receive/Withdraw.tsx
  pages/send/ConfirmPayment.tsx
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: update expo packages
  package.json
  yarn.lock
Due: prettier --write

chore: revert expo-camera fix now that we have v16.0.18
  components/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: set listUnknownPackages flag to false to skip expo-doctor
  package.json
Due: prettier --write

fix: keyboard type fluctuations
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.12.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: add option to switch wallets in NWA flow
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove fixed invoice handling logic in send
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: do not allow comment if not supported + show fixed-amount disclaimer
  pages/send/LNURLPay.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: send directly to lnurl pay screen
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: rename original text to receiver and name
  components/Receiver.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/PaymentSuccess.tsx
  pages/send/ZeroAmount.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove payment logic out of send screen
  lib/processPayment.ts
  pages/send/Send.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: manual button
  components/Icons.tsx
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: extract manual input logic to Manual.tsx
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update Send.tsx to use Manual screen
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add manual.js route for Manual screen
  app/(app)/send/manual.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: disable Manual button when empty
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: fix tests
  hooks/__tests__/useHandleLinking.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

Add fees on the Transaction page
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update alby account link
  pages/receive/AlbyAccount.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: upgrade @getalby/sdk
  lib/constants.ts
  lib/state/appStore.ts
  package.json
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/Receive.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: tx title overflow
  components/TransactionItem.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
