Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: updated icon size
  assets/icon.png
Due: none

fix: remove leftover id from wallet info
  assets/android/MessagingService.kt
Due: none

fix: icon background and sizing
  assets/icon-dark.png
  assets/icon.png
  assets/ios/light.png
Due: none

fix: header back button and header title customization
  components/Icons.tsx
  components/Screen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: touchable opacity not working
  components/TransactionItem.tsx
  package.json
  pages/Home.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: wallets page
  pages/settings/Wallets.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: settings page
  pages/settings/Settings.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: alby banner button
  components/AlbyBanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: alert title text
  components/Alert.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: wallet and settings pages
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: revert adding toastify-react-native
  app/_layout.tsx
  components/CreateInvoice.tsx
  components/ToastConfig.tsx
  components/WalletSwitcher.tsx
  lib/errorToast.ts
  package.json
  pages/Transaction.tsx
  pages/receive/Receive.tsx
  pages/send/LNURLPay.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/address-book/NewAddressBookEntry.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add new keyboard input
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  components/Icons.tsx
  components/WalletSwitcher.tsx
  pages/Home.tsx
  pages/receive/Withdraw.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/ZeroAmount.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: rename prop
  pages/receive/Withdraw.tsx
  pages/send/ZeroAmount.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: amount overflow in dual currency input
  components/DualCurrencyInput.tsx
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: keyboard dismiss delay
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: cover min and max cases
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add placeholder color
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add margin to back icon
  components/Screen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: BottomSheetModal props
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove ₿
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  pages/Home.tsx
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change caret color to primary
  components/DualCurrencyInput.tsx
  components/ui/input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use primary instead of amber-300
  components/ui/switch.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: caret going to end on clearing in android
  components/DualCurrencyInput.tsx
  components/ui/input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: blasphemy
  components/icons/ShitcoinIcon.tsx
  pages/settings/Settings.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add new address book ui
  app/(app)/send/address.js
  app/(app)/send/manual.js
  app/(app)/settings/address-book.js
  app/(app)/settings/address-book/index.js
  app/(app)/settings/address-book/new.js
  components/DualCurrencyInput.tsx
  components/Icons.tsx
  components/WalletSwitcher.tsx
  lib/state/appStore.ts
  package.json
  pages/send/Address.tsx
  pages/send/Manual.tsx
  pages/send/Send.tsx
  pages/settings/AddressBook.tsx
  pages/settings/Settings.tsx
  pages/settings/address-book/AddressBook.tsx
  pages/settings/address-book/NewAddressBookEntry.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: auto fill contact name
  pages/send/Address.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use contact component
  components/Contact.tsx
  pages/send/Address.tsx
  pages/settings/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unused icon
  components/Icons.tsx
  pages/send/Address.tsx
  pages/settings/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: slide animation in android
  components/AlbyBanner.tsx
  components/Contact.tsx
  components/Screen.tsx
  lib/initiatePaymentFlow.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove input from fiat screen and sort by code
  pages/settings/FiatCurrency.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: revert multiline addition to input
  components/DualCurrencyInput.tsx
  components/ui/input.tsx
  pages/send/Address.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: unify fixed amount screens
  pages/receive/Withdraw.tsx
  pages/send/LNURLPay.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add placeholder to dual currency input
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add key prop to contact component
  components/Contact.tsx
  pages/send/Address.tsx
  pages/settings/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use notifications or lookup invoice for polling
  components/CreateInvoice.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add units and currency page
  app/(app)/settings/bitcoin-units.js
  app/(app)/settings/units-and-currency.js
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  components/TransactionItem.tsx
  lib/notificationsNativeStorage.ts
  lib/state/appStore.ts
  lib/utils.ts
  pages/Home.tsx
  pages/Transaction.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/PaymentSuccess.tsx
  pages/settings/BitcoinUnits.tsx
  pages/settings/Settings.tsx
  pages/settings/UnitsAndCurrency.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: use react fragment instead of key prop
  components/Contact.tsx
  pages/send/Address.tsx
  pages/settings/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: address feedback
  components/DualCurrencyInput.tsx
  pages/settings/BitcoinUnits.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: address feedback
  components/CreateInvoice.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: address further feedback
  components/DualCurrencyInput.tsx
  pages/Transaction.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0
