Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: display metadata (POC)
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add comment metadata
  pages/Transaction.tsx
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: rename wallet info library
  lib/notifications.ts
  lib/walletInfo.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove duplication
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove splash from app config
  app.config.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: check if notifications are enabled while editing and removing wallet
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: check if wallet has notifications capability before registering
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: also check for notifications capability
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: allow payment sent notifications
  assets/MessagingService.kt
  assets/NotificationService.m
  lib/link.ts
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: update transaction icon colors
  components/icons/FailedTransaction.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: failed transaction icon color
  components/icons/FailedTransaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Expose MakeInvoice and LookupInvoice as iOS AppIntents
  app.json
  app/_layout.tsx
  lib/appIntents/LightningIntents.ts
  lib/appIntents/types.ts
  package.json
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

Exported Shortcut
  AlbyHub-shortcut.txt
Due: none

feat: prompt for notifications if not enabled
  app/_layout.tsx
  lib/state/appStore.ts
  pages/settings/Notifications.tsx
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add comments and organize code
  .gitignore
  app.config.js
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
  lib/walletInfo.ts
  plugins/android/withMessageServicePlugin.js
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add comment about notification deeplink
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: keep Expo Go working
  app/_layout.tsx
  context/Notification.tsx
  lib/constants.ts
  lib/notifications.ts
  lib/walletInfo.ts
  native/notifications/service.ts
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add notifications note to readme
  README.md
  package.json
Due: prettier --write

chore: use nip44 and versioning
  lib/notifications.ts
  lib/sharedSecret.ts
  lib/walletInfo.ts
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add nip44 decryption in ios
  app.config.js
  assets/ios/NotificationService.m
  plugins/ios/withOpenSSLPlugin.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: add nip44 decryption in android
  assets/android/MessagingService.kt
  plugins/android/withMessageServicePlugin.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: check wallet id before throwing error
  hooks/useBalance.ts
  hooks/useInfo.ts
  hooks/useTransactions.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: deep link in ios
  assets/ios/NotificationService.m
Due: none

chore: add comment to migrate to 1.0 in future
  lib/walletInfo.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: further changes and fixes
  lib/notifications.ts
  lib/sharedSecret.ts
  lib/state/appStore.ts
  lib/utils.ts
  lib/walletInfo.ts
  native/notifications/service.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: use persisted expo token
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: further changes
  app/_layout.tsx
  assets/notification.png
  lib/constants.ts
  lib/notifications.ts
  lib/walletInfo.ts
  native/notifications/service.ts
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: replace help dialog with modal
  components/HelpModal.tsx
  components/ui/dialog.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: dark mode and remove conditional rendering
  components/HelpModal.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: simplify receive screen
  app/(app)/receive/invoice.js
  components/CreateInvoice.tsx
  components/Icons.tsx
  pages/receive/Invoice.tsx
  pages/receive/Receive.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: enable notifications when there are no wallets
  native/notifications/service.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add new screens
  app/(app)/receive/alby-account.js
  app/(app)/receive/lightning-address.js
  assets/alby-account.png
  components/Icons.tsx
  package.json
  pages/receive/AlbyAccount.tsx
  pages/receive/LightningAddress.tsx
  pages/receive/Receive.tsx
  pages/settings/wallets/LightningAddress.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

feat: add btc map
  app.config.js
  app/(app)/settings/bitcoin-map.js
  components/Icons.tsx
  package.json
  pages/settings/BitcoinMap.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: add padding to icons
  package.json
  pages/Home.tsx
  pages/Transactions.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: allow word wrap prop for CardTitle
  components/Alert.tsx
  components/ui/card.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: remove number of lines prop in CardTitle
  components/Alert.tsx
  components/ui/card.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: swipe to change wallets
  app/_layout.tsx
  package.json
  pages/Home.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: address feedback
  assets/alby-account.png
  pages/settings/wallets/LightningAddress.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary package
  package.json
Due: prettier --write

chore: add padding to header icons
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
