Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

chore: add sentry auth token to workflow
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  .gitignore
Due: none

fix: make status bar translucent
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add dsn to env and workflow
  .github/workflows/release.yml
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add ios privacy manifest for sentry sdk to work
  app.json
Due: prettier --write

fix: store theme in app store and secure storage (#171)
  app/_layout.tsx
  lib/state/appStore.ts
  lib/useColorScheme.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: use touchable instead of pressable
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: validate input numbers (#170)
  components/DualCurrencyInput.tsx
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: change nav theme hsl values
  app/_layout.tsx
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: make status bar translucent (#177)
  lib/constants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update versions
  app.json
  package.json
Due: prettier --write

fix: only prompt once
  pages/Unlock.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: show auth prompt only once
  pages/Unlock.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update version for 1.7.1
  app.json
  package.json
Due: prettier --write

feat: add push notifications
  app/(app)/notifications.js
  components/Icons.tsx
  package.json
  pages/Notifications.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: lint errors
  components/Icons.tsx
  pages/Notifications.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: local notifications
  pages/Notifications.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix(app): Add NFC functionality and React Native HCE support
  app.json
  components/Icons.tsx
  package.json
  pages/receive/Receive.tsx
  plugins/withReactNativeHce.js
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: specify lsminimumsystemversion to avoid app store warnings
  app.json
Due: prettier --write

fix: check for ln address and bolt11 before navigating to send
  hooks/__tests__/useHandleLinking.ts
  lib/constants.ts
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: allow users to withdraw when ln address is not set
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: handle min max values in lnurl withdraw
  components/DualCurrencyInput.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: handle min max values in lnurl pay
  pages/send/LNURLPay.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update LNURLPayServiceResponse type
  lib/lnurl.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: decrypt content
  pages/Notifications.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: specify lsminimumsystemversion to avoid app store warnings (#184)
  app.json
Due: prettier --write

chore: improve notifications support
  .gitignore
  app.json
  app/(app)/notifications.js
  app/(app)/settings/notifications.js
  app/_layout.tsx
  context/Notification.tsx
  lib/constants.ts
  lib/state/appStore.ts
  package.json
  pages/Notifications.tsx
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  services/Notifications.ts
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add notification service extension
  .gitignore
  app.json
  app/_layout.tsx
  assets/NotificationService.m
  context/Notification.tsx
  lib/constants.ts
  lib/sharedSecret.ts
  package.json
  services/Notifications.ts
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add messaging service for android notifications
  .gitignore
  MessagingService.kt
  app.json
  app/_layout.tsx
  package.json
  services/Notifications.ts
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: changes
  assets/MessagingService.kt
  assets/NotificationService.m
Due: none

fix: update boostagram ts type to numeric
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add message service config plugin
  RELEASE.md
  app.config.js
  app.json
  package.json
  pages/settings/Notifications.tsx
  plugins/withMessageServicePlugin.js
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: use our own modified package
  package.json
  services/Notifications.ts
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: import shared preferences only in android
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add google services json to env
  app.config.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: further changes
  assets/MessagingService.kt
  assets/NotificationService.m
  lib/notifications.ts
  lib/state/appStore.ts
  lib/storeWalletInfo.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: handle linking hook
  hooks/useHandleLinking.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: more changes
  lib/storeWalletInfo.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add notification handling
  assets/MessagingService.kt
  assets/NotificationService.m
  context/Notification.tsx
  lib/link.ts
  lib/notifications.ts
  lib/storeWalletInfo.ts
  pages/settings/wallets/EditWallet.tsx
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: use transaction in deep link
  assets/MessagingService.kt
  assets/NotificationService.m
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add notification icon in android
  app.config.js
  assets/MessagingService.kt
  assets/notification.png
Due: prettier --write, eslint --fix --max-warnings 0
