Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unit conversion
  pages/settings/BitcoinUnits.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: improve success screens
  animations/Tick.tsx
  components/CreateInvoice.tsx
  components/SuccessMessage.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: return if lnurlSuccessAction is not available
  components/SuccessMessage.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: dismissable keyboard not working in android
  components/DismissableKeyboardView.tsx
  components/DualCurrencyInput.tsx
  pages/send/Address.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add animate pulse back
  components/TransactionItem.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: unify similar screens
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: don't shift layout on setting hidden
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: align screen header in android
  components/Screen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: set default max amount to connect view
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: align receiver text
  components/Receiver.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: check for maxamount before rendering
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change readme image
  README.md
Due: prettier --write

chore: remove unused icons
  components/Icons.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add description to notifications
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
Due: none

fix: relay online status in connection info modal
  components/ConnectionInfoModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: Add iOS Home Screen Widgets with multi-wallet support
  WIDGETS.md
  app/(app)/_layout.tsx
  app/(app)/settings/widgets.js
  components/Icons.tsx
  hooks/useGetFiatAmount.ts
  hooks/useWidgetSync.ts
  ios/AlbyGoWidgets/AlbyGoWidgetBundle.swift
  ios/AlbyGoWidgets/BalanceWidget.swift
  ios/AlbyGoWidgets/Info.plist
  ios/AlbyGoWidgets/LastTransactionWidget.swift
  ios/AlbyGoWidgets/PriceWidget.swift
  ios/AlbyGoWidgets/WalletAppIntent.swift
  ios/AlbyGoWidgets/WidgetDataLoader.swift
  ios/AlbyGoWidgets/WidgetSnapshotModels.swift
  lib/state/appStore.ts
  lib/widgets.ts
  package-lock.json
  package.json
  pages/settings/Settings.tsx
  pages/settings/Widgets.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: header title positioning in android
  components/Screen.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: further refactoring
  app/_layout.tsx
  assets/ios/dark.png
  assets/ios/light.png
  assets/ios/tinted.png
  components/BTCMapModal.tsx
  components/ConnectionInfoModal.tsx
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  components/HelpModal.tsx
  components/QRCodeScanner.tsx
  lib/constants.ts
  lib/initiatePaymentFlow.ts
  pages/BitcoinMap.tsx
  pages/Home.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/AlbyAccount.tsx
  pages/receive/Receive.tsx
  pages/receive/Withdraw.tsx
  pages/send/Address.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/PaymentSuccess.tsx
  pages/send/Send.tsx
  pages/settings/AddressBook.tsx
  pages/settings/BitcoinUnits.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
  pages/settings/Settings.tsx
  pages/settings/UnitsAndCurrency.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: remove hardcoded colors
  app/_layout.tsx
  components/DualCurrencyInput.tsx
  components/QRCode.tsx
  components/Screen.tsx
  components/SuccessMessage.tsx
  components/WalletSwitcher.tsx
  components/icons/AlbyGo.tsx
  components/icons/CheckIcon.tsx
  components/icons/LargeArrowDown.tsx
  components/icons/LargeArrowUp.tsx
  components/icons/NWCIcon.tsx
  components/icons/RedeemIcon.tsx
  components/icons/ShitcoinIcon.tsx
  components/ui/button.tsx
  components/ui/checkbox.tsx
  components/ui/input.tsx
  components/ui/switch.tsx
  lib/constants.ts
  lib/theme/colors.ts
  lib/useColorScheme.ts
  lib/useThemeColor.ts
  pages/BitcoinMap.tsx
  pages/Home.tsx
  pages/send/Address.tsx
  pages/send/Send.tsx
  pages/settings/AddressBook.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: skeleton spacing
  components/icons/FailedTransaction.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
  pages/Home.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: further refactoring
  components/ConnectionInfoModal.tsx
  components/Icons.tsx
  components/QRCode.tsx
  components/QRCodeScanner.tsx
  components/icons/AcceptedTransaction.tsx
  components/icons/AlbyGo.tsx
  components/icons/FailedTransaction.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
  components/ui/button.tsx
  global.css
  lib/constants.ts
  package.json
  pages/BitcoinMap.tsx
  pages/Home.tsx
  pages/Transaction.tsx
  pages/settings/wallets/SetupWallet.tsx
  tailwind.config.js
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add skeleton loader to dual currency input
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary classes in input component
  components/ui/input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove label component
  components/ui/label.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: align colors
  global.css
  lib/constants.ts
  tailwind.config.js
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: further refactoring
  components/AlbyBanner.tsx
  components/BTCMapModal.tsx
  components/ConnectionInfoModal.tsx
  components/DualCurrencyInput.tsx
  components/HelpModal.tsx
  components/Icons.tsx
  components/ToastConfig.tsx
  components/WalletSwitcher.tsx
  components/ui/button.tsx
  components/ui/switch.tsx
  global.css
  lib/constants.ts
  pages/Home.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add padding for delete icon
  components/Contact.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: further refactoring
  components/AlbyGoLogo.tsx
  components/Alert.tsx
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  components/QRCode.tsx
  components/ToastConfig.tsx
  global.css
  lib/createNwcFetcher.ts
  lib/errorToast.ts
  lib/initiatePaymentFlow.ts
  lib/notifications.ts
  native/notifications/service.ts
  pages/BitcoinMap.tsx
  pages/Home.tsx
  pages/receive/Receive.tsx
  pages/receive/Withdraw.tsx
  pages/send/Address.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/Send.tsx
  pages/send/ZeroAmount.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  tailwind.config.js
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: dual currency input placeholder
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use router navigate instead of push
  lib/initiatePaymentFlow.ts
  pages/Home.tsx
  pages/receive/LightningAddress.tsx
  pages/receive/Receive.tsx
  pages/send/LNURLPay.tsx
  pages/send/Send.tsx
  pages/settings/Wallets.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: font sizing
  pages/Home.tsx
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: align fonts
  pages/settings/BitcoinUnits.tsx
  pages/settings/UnitsAndCurrency.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary isDarkColorScheme usage
  components/DualCurrencyInput.tsx
  components/SuccessMessage.tsx
  components/WalletSwitcher.tsx
  pages/send/Address.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use keyboard isVisible
  components/DualCurrencyInput.tsx
  pages/send/Address.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: reduce toast offset
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: onboarding and unlock pages
  pages/Onboarding.tsx
  pages/Unlock.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: shadows in android
  animations/Tick.tsx
  components/AlbyBanner.tsx
  components/ui/button.tsx
  pages/Home.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: input component
  components/DualCurrencyInput.tsx
  components/ui/input.tsx
  pages/send/Address.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
