Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

chore: separate create invoice screen from receive
  app/(app)/receive/invoice.js
  app/(app)/receive/withdraw.js
  app/(app)/withdraw/index.js
  pages/receive/CreateInvoice.tsx
  pages/receive/Receive.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/receive/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: dismiss all before returning home
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: gracefully handle missing permissions
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use expo recommended safearea
  app/_layout.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: revert background class
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change nwcUrl to nwcUrlFromSchemeLink
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change card in wallet settings
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: pending payment warning
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change red to destructive
  components/DualCurrencyInput.tsx
  pages/send/LNURLPay.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: show wallet name in payment confirmation screen
  pages/send/ConfirmPayment.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: do not navigate after dismiss
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: show active wallet name
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: reorder withdraw and invoice
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: stylize warning toasts
  components/ui/card.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add alert component
  components/Alert.tsx
  pages/send/ConfirmPayment.tsx
  pages/settings/Security.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update to popicons v0.0.20
  app/_layout.tsx
  components/Alert.tsx
  components/Icons.tsx
  package.json
  pages/Home.tsx
  pages/receive/Receive.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: change skeleton height
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: simplify wallet renaming flow
  components/Icons.tsx
  lib/state/appStore.ts
  pages/Home.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: qr scanner on failure
  components/QRCodeScanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: persist balance display mode
  lib/state/appStore.ts
  pages/Home.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: use switch
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add pending icon
  components/icons/PendingTransaction.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update version to 1.8.0
  app.json
  package.json
Due: prettier --write

fix: layout in android
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: show security alert if not supported
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: add connect button to list footer
  pages/settings/Wallets.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use replace to return to /
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update deps to match expo doctor
  package.json
  yarn.lock
Due: prettier --write

fix: align wallet name and balance
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: get theme from device
  app.json
  app/_layout.tsx
  lib/state/appStore.ts
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: use splash screen config plugin
  app.json
  app/_layout.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove splash png
  assets/splash.png
Due: none

fix: screen header right buttons
  pages/Home.tsx
  pages/Transactions.tsx
  pages/send/PaymentSuccess.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add touchable opacity to show transactions button
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove build script
  package.json
Due: prettier --write

chore: remove logo from qr codes
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add biometric and fingerprint permissions for android
  app.json
Due: prettier --write

chore: remove high error correction level in QRs
  components/QRCode.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.8.1
  app.json
  package.json
Due: prettier --write

feat: pay 0-amount invoices
  app/(app)/send/0-amount.js
  package.json
  pages/send/ConfirmPayment.tsx
  pages/send/Send.tsx
  pages/send/ZeroAmount.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0
