Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: component nesting, spacing
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use animated.text instead of view
  components/ui/skeleton.tsx
  pages/Home.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add NWA (WIP)
  app.config.js
  lib/link.ts
  package.json
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: align tx list skeleton
  components/icons/FailedTransaction.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: shorten and unify notification text across platforms
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
Due: none

chore: shorten and unify notification text across platforms (#282)
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
Due: none

fix: use rn animations instead of reanimated in skeleton (#279)
  components/icons/FailedTransaction.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
  components/ui/skeleton.tsx
  pages/Home.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add btc map (#262)
  app.config.js
  app/(app)/settings/bitcoin-map.js
  components/Icons.tsx
  package.json
  pages/settings/BitcoinMap.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: add btc map modal
  assets/btc-map.png
  components/BTCMapModal.tsx
  components/HelpModal.tsx
  components/Icons.tsx
  pages/settings/BitcoinMap.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add btc map modal (#284)
  assets/btc-map.png
  components/BTCMapModal.tsx
  components/HelpModal.tsx
  components/Icons.tsx
  pages/settings/BitcoinMap.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: receive screen improvements
  components/Icons.tsx
  components/icons/RedeemIcon.tsx
  pages/receive/Receive.tsx
  pages/receive/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change manual to amount in Send screen
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add text above scanner
  pages/receive/Withdraw.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Receive and Withdraw screen improvements (#285)
  components/Icons.tsx
  components/icons/RedeemIcon.tsx
  pages/receive/Receive.tsx
  pages/receive/Withdraw.tsx
  pages/send/Send.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: encode transaction before sending
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: encode transaction before sending (#286)
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.10.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: nwa schemes in app config
  app.config.js
Due: prettier --write, eslint --fix --max-warnings 0

feat: add missing nwa fields
  lib/link.ts
  package.json
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: split components
  lib/link.ts
  pages/settings/wallets/ConnectWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: return to home
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: redirect countdown
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: do not allow exporting NWC connection with create_connection capability
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: rename variable
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump js sdk version
  package.json
  yarn.lock
Due: prettier --write

chore: add nwc icon and default app icon
  components/icons/NWCIcon.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary call to get_info in connect wallet screen
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use push instead of replace after dismissing
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: change wording
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: plug animation
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: unify modals
  components/BTCMapModal.tsx
  components/HelpModal.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: unify modals (#290)
  components/BTCMapModal.tsx
  components/HelpModal.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: reduce redirect countdown from 5 to 3 seconds
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump js-sdk to 4.1.0
  package.json
  yarn.lock
Due: prettier --write

chore: use encryptions instead of versions
  lib/notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: NWA + NWC deep linking (#272)
  app.config.js
  app/(app)/settings/wallets/connect.js
  assets/hub.png
  assets/left-plug.png
  assets/right-plug.png
  components/BTCMapModal.tsx
  components/HelpModal.tsx
  components/Icons.tsx
  components/icons/NWCIcon.tsx
  lib/link.ts
  lib/notifications.ts
  package.json
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add nip44 encryption/versioning comments for readability
  lib/notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

Update EditWallet.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Update pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: update delete wallet copy (#293)
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0
