Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

Improve description text handling in MessagingService
  assets/android/MessagingService.kt
Due: none

fix: iOS crash when viewing payment details with URL (#433)
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: inital version
  app.config.js
  components/Icons.tsx
  components/NFCScanner.tsx
  hooks/useNfc.ts
  package.json
  pages/receive/Receive.tsx
  pages/send/Send.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: bip21 handling (phoenix)
  hooks/__tests__/useHandleLinking.ts
  lib/__tests__/initiatePaymentFlow.ts
  lib/initiatePaymentFlow.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update alby dependencies
  lib/state/appStore.ts
  lib/utils.ts
  package.json
  pages/Transaction.tsx
  pages/settings/wallets/ConnectWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: bip21 lightning param parsing without address
  lib/initiatePaymentFlow.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add paste option in dual currency input
  components/DualCurrencyInput.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: make all transaction field rows copyable
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add helpers for clipboard copy and paste
  components/CreateInvoice.tsx
  lib/utils.ts
  pages/Transaction.tsx
  pages/receive/Receive.tsx
  pages/receive/Withdraw.tsx
  pages/send/Address.tsx
  pages/send/Send.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary bg-card class
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: transaction json handling and parsing
  assets/ios/NotificationService.m
  hooks/__tests__/useHandleLinking.ts
  lib/link.ts
  pages/Transaction.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: refine android notif description fallback handling
  assets/android/MessagingService.kt
Due: none

chore: do not change selected wallet if tx is invalid
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to v2.0.2
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: cleanup eas.json and mention node version
  eas.json
Due: prettier --write

fix: zapstore.yaml to work with zsp
  zapstore.yaml
Due: none

docs: add security policy
  SECURITY.md
Due: prettier --write

chore: remove all unnecessary info logs
  app/(app)/_layout.tsx
  components/ConnectionInfoModal.tsx
  components/CreateInvoice.tsx
  components/DualCurrencyInput.tsx
  components/QRCodeScanner.tsx
  lib/createNwcFetcher.ts
  lib/initiatePaymentFlow.ts
  lib/link.ts
  lib/lnurl.ts
  lib/notifications.ts
  lib/state/appStore.ts
  lib/utils.ts
  pages/Transaction.tsx
  pages/Unlock.tsx
  pages/receive/Withdraw.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: show wallet connection details during setup
  components/ConnectionInfoModal.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: simplify pool logic
  components/ConnectionInfoModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: show the redirect destination on the Connect App screen
  components/ConnectionInfoModal.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: scope notification intent to app
  assets/android/MessagingService.kt
Due: none

fix: export the selected wallet connection
  pages/Unlock.tsx
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: check if wallet exists
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: align NWC crypto dependencies
  lib/utils.ts
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: clean up native notification data on wallet deletion and reset
  app/_layout.tsx
  lib/notifications.ts
  lib/notificationsNativeStorage.ts
  lib/state/appStore.ts
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: relay status dots start gray instead of red
  components/ConnectionInfoModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: don't flash 'already have this wallet' warning on save
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: propagate notification deregistration failures and splash screen hang
  app/_layout.tsx
  lib/notifications.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: bump expo sdk to v57
  .claude/skills/expo-upgrade/SKILL.md
  app.config.js
  app/_layout.tsx
  components/ConnectionInfoModal.tsx
  components/DismissableKeyboardView.tsx
  components/QRCodeScanner.tsx
  components/Screen.tsx
  components/TransactionItem.tsx
  components/ui/skeleton.tsx
  context/Notification.tsx
  hooks/__tests__/useHandleLinking.ts
  lib/link.ts
  nativewind-env.d.ts
  package.json
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/Unlock.tsx
  pages/receive/Withdraw.tsx
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/SetupWallet.tsx
  plugins/android/withMessageServicePlugin.js
  plugins/ios/withOpenSSLPlugin.js
  tsconfig.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: address feedback
  context/Notification.tsx
  pages/settings/wallets/LightningAddress.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: snapshot existing wallets
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: increase Android Gradle heap to prevent CI build OOM
  app.config.js
  plugins/android/withIncreasedGradleHeap.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to v2.1.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: update release docs for zsp and bump eas node version
  RELEASE.md
  eas.json
Due: prettier --write

chore: update zapstore.yaml
  zapstore.yaml
Due: none

fix: use continuous autofocus for iOS QR scanning
  components/FocusableCamera.tsx
  components/__tests__/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: leave QR camera autofocus at platform defaults
  components/FocusableCamera.tsx
  components/__tests__/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: don't auto-open connection info during wallet setup
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add CLAUDE.md with dev commands and architecture overview
  CLAUDE.md
Due: prettier --write

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
