Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: ln address check to show add to contacts checkbox
  package.json
  pages/send/Manual.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: use label instead of text
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add loading state for manual submit button
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: fiat currency improvements and option to disable fiat
  components/DualCurrencyInput.tsx
  components/Flag.tsx
  components/TransactionItem.tsx
  hooks/useGetFiatAmount.ts
  lib/constants.ts
  lib/state/appStore.ts
  nativewind-env.d.ts
  package.json
  pages/Home.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add selected fiat currency back
  pages/settings/Settings.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add sentry for error tracking
  app.config.js
  app/_layout.tsx
  metro.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: add sentry dsn to workflows
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

fix: only add to contacts if initiate payment flow succeeds
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: do not render swap button if fiat is disabled
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use ?? operator
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: wrap rn country flag and then apply cssInterop
  components/Flag.tsx
  nativewind-env.d.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary sentry config params
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use priority from response
  lib/constants.ts
  pages/settings/FiatCurrency.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: change default input border radius to 2xl
  components/ui/input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: currency code overflow
  pages/settings/FiatCurrency.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: render divider logic
  pages/settings/FiatCurrency.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: do not hardcode priority
  pages/settings/FiatCurrency.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: show skeleton in balance component if fiat is loading
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: fiat currency improvements and option to disable fiat (#331)
  components/DualCurrencyInput.tsx
  components/Flag.tsx
  components/TransactionItem.tsx
  components/ui/input.tsx
  hooks/useGetFiatAmount.ts
  lib/state/appStore.ts
  package.json
  pages/Home.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: minor frontend changes
  pages/send/Manual.tsx
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: layout when there are no contacts
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Feat: pay from image (#325)
  app.config.js
  app/(app)/send/address-book.js
  app/(app)/settings/address-book/index.js
  components/Icons.tsx
  components/ui/checkbox.tsx
  package.json
  pages/send/Manual.tsx
  pages/send/Send.tsx
  pages/settings/Settings.tsx
  pages/settings/address-book/AddressBook.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: build workflow
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

chore: add sentry for error tracking (#332)
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
  app.config.js
  app/_layout.tsx
  metro.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: add onPress to labels
  pages/send/Manual.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: add onPress to labels (#333)
  pages/send/Manual.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.14.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.14.0 (#334)
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

new zapstore cli yaml format
  zapstore.yaml
Due: none

add support for bootleggers coffee bar
  lib/merchants.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update @getalby packages
  components/CreateInvoice.tsx
  components/TransactionItem.tsx
  hooks/useGetFiatAmount.ts
  lib/constants.ts
  lib/createNwcFetcher.ts
  lib/initiatePaymentFlow.ts
  lib/link.ts
  lib/state/appStore.ts
  lib/utils.ts
  package.json
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/Manual.tsx
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update @getalby packages (#339)
  components/CreateInvoice.tsx
  components/TransactionItem.tsx
  hooks/useGetFiatAmount.ts
  lib/constants.ts
  lib/createNwcFetcher.ts
  lib/initiatePaymentFlow.ts
  lib/link.ts
  lib/state/appStore.ts
  lib/utils.ts
  package.json
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/Manual.tsx
  pages/send/Send.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add support for hold invoice notifications
  assets/android/MessagingService.kt
  assets/ios/NotificationService.m
Due: none

fix: add pending receive icon
  components/TransactionItem.tsx
  components/icons/PendingReceiveTransaction.tsx
  components/icons/PendingSendTransaction.tsx
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary height style on input
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary height style on input (#346)
  components/DualCurrencyInput.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: success screen getting cut off
  animations/Tick.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: success screen getting cut off (#347)
  animations/Tick.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.14.1
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.14.1 (#348)
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
