Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add high error correction level to qr codes
  components/QRCode.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add monochromatic icon
  app.json
  assets/monochromatic.png
Due: prettier --write

fix: do not handle links before onboarding
  hooks/useHandleLinking.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: rctview errors in ios
  .gitignore
  components/ui/button.tsx
  package.json
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: set preferred scheme to lightning
  app.json
Due: prettier --write

fix: prevent state updates in parent while rendering qrcodescanner
  components/QRCodeScanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: make contacts screen scrollable
  pages/send/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add option to delete contacts
  components/Icons.tsx
  components/ui/card.tsx
  lib/state/appStore.ts
  pages/send/AddressBook.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: do not allow empty name or lightning address in contacts
  pages/settings/address-book/NewAddressBookEntry.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add contact name icon
  components/ui/card.tsx
  pages/send/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update cards in edit wallet screen
  pages/settings/wallets/EditWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: toggle camera only when screen is focussed
  components/QRCodeScanner.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: pass wallet id to transaction screen
  lib/link.ts
  pages/Transaction.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: set wallet in use effect
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove processing from uibackgroundmode
  app.config.js
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump expo version
  app.json
  app/_layout.tsx
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: screen prop
  components/Screen.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: change to pressable and fix toast link
  components/ToastConfig.tsx
  pages/send/AddressBook.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: update version to 1.7.2
  app.json
  package.json
Due: prettier --write

chore: update dependencies
  components/Screen.tsx
  lib/applyGlobalPolyfills.ts
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: change splash background color
  app.json
Due: prettier --write

chore: remove crypto polyfill
  app/_layout.tsx
  package.json
  pages/Transaction.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

feat: show failed and pending transactions
  hooks/useTransactions.ts
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/send/ConfirmPayment.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update JS SDK dependency and remove typing hacks
  hooks/useTransactions.ts
  package.json
  pages/Transaction.tsx
  pages/Transactions.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: verify ownership of lightning address
  app/(app)/settings/wallets/[id]/lightning-address.js
  package.json
  pages/settings/wallets/LightningAddress.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: remove set lightning address on receive page (confusing for new users)
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: allow send to also scan withdraw links
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change card styling
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: boostagram types and 0 handling
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: refresh balance
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change card
  pages/send/LNURLPay.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add new icons for transactions
  components/icons/FailedTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/SentTransaction.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add dark mode qr
  components/QRCode.tsx
  pages/receive/Receive.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: hide vertical scrollbar
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: use popicons
  app/_layout.tsx
  components/DualCurrencyInput.tsx
  components/Icons.tsx
  components/QRCodeScanner.tsx
  components/ToastConfig.tsx
  components/ui/dialog.tsx
  package.json
  pages/Home.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/Receive.tsx
  pages/send/AddressBook.tsx
  pages/send/Send.tsx
  pages/settings/Security.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  pages/withdraw/Withdraw.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: use updated design
  pages/send/LNURLPay.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: display alert when there is a pending payment
  pages/send/ConfirmPayment.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add comment
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: change content check
  pages/Transaction.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: support nwc connection urls
  app.json
  lib/link.ts
  pages/settings/Wallets.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
