Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: unify tx list with Hub
  components/TransactionItem.tsx
  lib/utils.ts
  pages/Transaction.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove receiver when paying to an invoice
  components/Receiver.tsx
  lib/processPayment.ts
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/PaymentSuccess.tsx
  pages/send/ZeroAmount.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: address comments
  components/Receiver.tsx
  lib/initiatePaymentFlow.ts
  pages/Transaction.tsx
  pages/send/ConfirmPayment.tsx
  pages/send/LNURLPay.tsx
  pages/send/Manual.tsx
  pages/send/PaymentSuccess.tsx
  pages/send/Send.tsx
  pages/send/ZeroAmount.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: change scripts
  .github/workflows/pull_requests.yml
  package.json
Due: prettier --write

chore: bump version to 1.13.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

fix: safely set wallet id
  lib/state/appStore.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: do not allow setting empty name while renaming
  pages/settings/wallets/RenameWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.13.1
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

feat: Add QR Image Payment
  components/Icons.tsx
  package.json
  pages/send/Send.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: address MediaTypeOptions deprecation and removed jsx flag from tsconfig.json
  pages/send/Send.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove unused rn primitive portal and dialog
  app/_layout.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

chore: upgrade to expo v53
  context/Notification.tsx
  package.json
  pages/Unlock.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: types using verbatimModuleSyntax
  app/_layout.tsx
  components/Alert.tsx
  components/CreateInvoice.tsx
  components/FocusableCamera.tsx
  components/Icons.tsx
  components/Screen.tsx
  components/ToastConfig.tsx
  components/TransactionItem.tsx
  components/WalletSwitcher.tsx
  components/icons/FailedTransaction.tsx
  components/icons/LargeArrowDown.tsx
  components/icons/LargeArrowUp.tsx
  components/icons/NWCIcon.tsx
  components/icons/PendingTransaction.tsx
  components/icons/ReceivedTransaction.tsx
  components/icons/RedeemIcon.tsx
  components/icons/SentTransaction.tsx
  components/ui/card.tsx
  components/ui/skeleton.tsx
  components/ui/text.tsx
  context/UserInactivity.tsx
  lib/constants.ts
  lib/createNwcFetcher.ts
  lib/link.ts
  lib/notifications.ts
  lib/state/appStore.ts
  lib/swr.ts
  pages/Home.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/Withdraw.tsx
  pages/send/LNURLPay.tsx
  pages/send/PaymentSuccess.tsx
  pages/settings/Notifications.tsx
  pages/settings/wallets/ConnectWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
  tsconfig.json
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: update components
  components/DualCurrencyInput.tsx
  components/primitives/label/index.tsx
  components/primitives/label/types.ts
  components/primitives/slot.tsx
  components/primitives/types.ts
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/skeleton.tsx
  components/ui/switch.tsx
  components/ui/text.tsx
  package.json
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: use safeRouterPush instead of router.push
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unused packages
  package.json
  yarn.lock
Due: prettier --write

fix: navbar in android
  app/_layout.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: turn autofocus on by default
  components/FocusableCamera.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: tests
  hooks/__tests__/useHandleLinking.ts
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: workflow node version
  .github/workflows/linting.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

fix: linting
  lib/applyGlobalPolyfills.ts
  lib/walletInfo.ts
  package.json
  services/Notifications.ts
  yarn.lock
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

feat: add android text to speech
  README.md
  assets/android/MessagingService.kt
Due: prettier --write

feat: toggleable spoken notifications
  assets/android/MessagingService.kt
  lib/notifications.ts
  lib/notificationsNativeStorage.ts
  lib/state/appStore.ts
  pages/settings/Notifications.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/RenameWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add .java-version file with version 17
  .java-version
Due: none

chore: input ref typing
  components/DualCurrencyInput.tsx
  components/ui/input.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use import instead of require
  context/Notification.tsx
  lib/walletInfo.ts
  services/Notifications.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove unnecessary dismissAll
  lib/link.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove handlelink and do router replace
  pages/send/Send.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add address book into manual send page and settings page
  app/(app)/send/address-book.js
  app/(app)/settings/address-book/index.js
  components/Icons.tsx
  components/ui/checkbox.tsx
  package.json
  pages/send/Manual.tsx
  pages/send/Send.tsx
  pages/settings/Settings.tsx
  pages/settings/address-book/AddressBook.tsx
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings 0

fix: minor issues in manual page address book
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: use dynamic qr size
  components/CreateInvoice.tsx
  components/QRCode.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: decrease avatar size
  components/QRCode.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: tts notifications on ios
  app.config.js
  assets/ios/NotificationService.m
  lib/notificationsNativeStorage.ts
  pages/settings/Notifications.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: add readme info for ios
  README.md
Due: prettier --write

chore: remove unnecessary dispatch_async
  assets/ios/NotificationService.m
Due: none

fix: import modules before setting tts enabled
  lib/notificationsNativeStorage.ts
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: extract tts function in nse
  assets/ios/NotificationService.m
Due: none

chore: add image picker permission
  app.config.js
Due: prettier --write, eslint --fix --max-warnings 0

fix: use transaction type instead of state for tx title
  components/TransactionItem.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: make input consistent
  pages/send/Manual.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
