Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: bump version to 1.9.0
  app.config.js
  package.json
Due: prettier --write, eslint --fix --max-warnings 0

add MIT license
  LICENSE
  zapstore.yaml
Due: none

fix: add google services json to workflow
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

chore: fix
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

chore: fix
  .github/workflows/pull_requests.yml
Due: none

chore: fix
  .github/workflows/release.yml
Due: none

chore: do not merge this commit
  .github/workflows/pull_requests.yml
Due: none

chore: fix it back
  .github/workflows/pull_requests.yml
Due: none

chore: fix - flagged
  .github/workflows/pull_requests.yml
Due: none

fix: add google services json to workflow (#268)
  .github/workflows/pull_requests.yml
  .github/workflows/release.yml
Due: none

chore: replace RN Text with Text component
  components/HelpModal.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: replace RN Text with Text component (#269)
  components/HelpModal.tsx
  pages/settings/Notifications.tsx
  pages/settings/Security.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: increase padding of wallet settings button
  pages/settings/Wallets.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: increase padding of wallet settings button (#270)
  pages/settings/Wallets.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: nwc deep linking
  app.config.js
  app/(app)/settings/wallets/connect.js
  assets/hub.png
  components/Icons.tsx
  lib/link.ts
  pages/settings/wallets/ConnectWallet.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: remove permission component
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: remove comment
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

feat: add support for pick n pay QRs
  lib/merchants.ts
  pages/send/Send.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

chore: do not force balance refresh
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: upgrade packages
  package.json
  yarn.lock
Due: prettier --write

chore: add plug connection animation
  assets/left-plug.png
  assets/right-plug.png
  components/Icons.tsx
  pages/settings/wallets/ConnectWallet.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: add gesturewrapper with wiggle animation
  components/GestureWrapper.tsx
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: update packages
  package.json
  yarn.lock
Due: prettier --write

feat: add support for pick n pay QRs (#273)
  lib/merchants.ts
  pages/send/Send.tsx
Due: tsc --noEmit, prettier --write, eslint --fix --max-warnings 0

fix: center icons
  pages/settings/Settings.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: upgrade packages (#274)
  package.json
  yarn.lock
Due: prettier --write

chore: remove unnecessary classname
  pages/settings/BitcoinMap.tsx
Due: prettier --write, eslint --fix --max-warnings 0

chore: use expo compatible version
  package.json
  yarn.lock
Due: prettier --write

fix: use rn animations instead of reanimated in skeleton
  components/ui/skeleton.tsx
  pages/Home.tsx
Due: prettier --write, eslint --fix --max-warnings 0

fix: skeleton height in transaction list
  pages/Transactions.tsx
Due: prettier --write, eslint --fix --max-warnings 0

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
